In [3]:
import pandas as pd

df = pd.read_csv('inventor_data with patent number and claims number.csv')
df[df['inventor_country_code'].isin(['KR', 'CN'])].to_csv('inventors_filtered_by_cn_kr.csv', index=False)

,application_number,filing_date,inventor_name_first,inventor_name_middle,inventor_name_last,gender,inventor_rank,inventor_country_code,pat_no,claim_no
42,9331991,2000-01-03,SEO,YOUNG,JEONG,andy,1.0,KR,6451348,NaN
43,9331991,2000-01-03,KUIWON,NaN,CHOI,unknown,2.0,KR,6451348,NaN
44,9331991,2000-01-03,ICK-CHAN,NaN,KWON,unknown,3.0,KR,6451348,NaN
45,9331991,2000-01-03,YONG-HEE,NaN,KIM,female,4.0,KR,6451348,NaN
46,9331991,2000-01-03,JAE,BONG,CHOI,andy,5.0,KR,6451348,NaN
...,...,...,...,...,...,...,...,...,...,...
13367205,17135301,2020-12-28,Sung An,NaN,GWEON,unknown,1.0,KR,10970633,NaN
13367206,17135301,2020-12-28,Yongjoong,NaN,KIM,unknown,2.0,KR,10970633,NaN
13367207,17135301,2020-12-28,Bongnam,NaN,KANG,unknown,3.0,KR,10970633,NaN
13367208,17135033,2020-12-28,Kye-Hyeon,NaN,KIM,unknown,1.0,KR,10970645,NaN
13367209,17135033,2020-12-28,Bongnam,NaN,KANG,unknown,2.0,KR,10970645,NaN